<h1>Editing Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Show', { controller: 'projects', action: 'show', id: @project.id } %> |
<%= link_to 'Back', { controller: 'projects', action: 'index' } %>
