<h1>Project @project.name</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @project_technologies.each do |technology| %>
      <tr>
        <td><%= technology.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

