// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portfolio-footer {
  background-color: #e8e8e8;
  padding-bottom: 20px;
  padding-top: 20px;
}

.portfolio-footer-fa {
  padding-left: 10px;
}

.footer-links a:hover {
  text-decoration: none;
}

.avatar-image {
  max-height: 100%;
  max-width: 100%;
}